<div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
	<div class="panel-body">
		<form  action="" method="POST" id="create_buku" class="form-horizontal">
        	<div class="form-group" style="display: none;">
			    <label class="control-label col-sm-2" for="id_buku">Id Buku</label>
			    <div class="col-sm-10">
        		  <input type="text" class="form-control" name="id_buku" value="<%= result[0].id %>" id="id_buku">
			    </div>
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="id_anggota">Judul Buku</label>
			    <div class="col-sm-10">
        		  <input type="text" class="form-control" name="id_anggota" value="<%= result[0].id_anggota %>" id="id_anggota">
			    </div>
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="pengarang">Pengarang</label>
			    <div class="col-sm-10">
        		  <input type="text" class="form-control" name="pengarang" value="<%= result[0].pengarang %>" id="pengarang">
			    </div>
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="penerbit">Penerbit</label>
			    <div class="col-sm-10">
        		  <input type="text" class="form-control" name="penerbit" value="<%= result[0].penerbit %>" id="penerbit">
			    </div>
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="tahun_terbit">Tahun Terbit</label>
			    <div class="col-sm-10">
        		  <input type="text" class="form-control" name="tahun_terbit" value="<%= result[0].tahun_terbit %>" id="tahun_terbit">
			    </div>
			</div>
			  
	        <div class="modal-footer">
	          <button type="submit" class="btn btn-default">Save</button>
	          <a href="/buku" type="button" class="btn btn-default">batal</a>
	        </div>
        </form>
	</div>
</div>

